
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/default/belote/*.class
/.settings/org.springframework.ide.eclipse.prefs
/.settings/org.eclipse.jdt.core.prefs
